<%= render "shared/title" %>
<div class="main-container">
<div class="about-container">
<h2 class="about-container__tagline">Writing Together, Growing Together</h2>
<p class="about-container__content">We are an open platform writing community dedicated to helping writers of all levels grow and succeed. Our supportive, collaborative environment encourages members to explore their creativity and create meaningful connections with other writers. Join us and become a part of our growing, vibrant community.</p>
</div>
<div class="users-container">
    <% @users.each do |user| %>
        <div class="user-card">
            <img class="user-img" src=<%= user.photo %> alt=<%= user.name %>>
            <div class="user-card__content">
                <a class="username" href="users/<%= user.id %>"><%= user.name %></a>
                <div class="postscount">
                    <p>Number of posts: <%= user.posts.count %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>